{% extends 'base.html' %}
<!--Don't forget your import here-->
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
        {% from 'bootstrap4/form.html' import render_form %}
        <div class="mt-4">
      {{ render_form(form,novalidate=True) }}
      <!-- This is where your WTForm will go -->
                 {% if form.location.errors %}
              <div class="invalid-feedback">
                {% for error in form.location.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
</div>
	  <p class="space-above mt-4"><a href="#">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
